In [ ]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:100px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))n

<b>font size="7" color="red">cho3. 데이터구조</font></b>
- 리스트.[80,20]., 튜플(90,20), 딕셔너리{"name": "홍", "source":50}, 셋{10, 20}

# 1절 리스터
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러 개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음.
- list()함수 이용도 가능
- 인덱스 : 각 요소의 위치, 인덱스는 0부터 시작, 맨 마지막 인덱스는 -1
- 슬라이싱([from:to:step].): 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [2]:
fruit = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
fruits[0] = 'apple'
fruits

['apple', 'apple', 'orange', 'grape']

In [ ]:
동행이냐? 끌려가느냐?

In [ ]:
변수 하나에 여려개 데이터

In [ ]:
파이선 기본 문법이 아니고, 데이터 함수,  날짜

In [ ]:
아나콘다는 1500개

In [ ]:
N차원 배열 다루기(10월 10일, 13, 14, 15일 예정), 변수 하나에 여려개 데이터, 배열은 동일

In [ ]:
전처리, 시각화,  AI 개발,

In [ ]:
요즘 인턴 사원 채용, 3개월,

In [ ]:
웹데이터 가져오기

In [ ]:
인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [3]:
print(fruits)
print(fruits[3]) # 인덱싱을 이용한 읽기
# fprint(fruits[4]) # 없는 인덱싱 시 에러

['apple', 'apple', 'orange', 'grape']
grape

In [5]:
fruits[0] = 'mango' # 인덱싱 이용
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [ ]:
영방 1방, 2방, 3방, 영방에 mango 입력

In [ ]:
슬라이싱, 읽기, 쓰기 가능

In [11]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ''mango', 'apple', 'orange'
print(f"x는; {x}")
print(f"y는: {y}")
print(f"z는: {z}")

SyntaxError: unterminated string literal (detected at line 2) (4163754150.py, line 2)

In [6]:
# range(from, to, by) :  from부터 to 앞까지 by
#  숫자를 순차적 사용
# from 생략시 0, by 샹랙시 1
range(0, 10, 1)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [13]:
for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
fruits = ['banana', 'apple', 'orange']
print("{}번째 과일은 {}".format(0,fruits[0]))
print("{}번째 과일은 {}".format(1,fruits[1]))
print("{}번째 과일은 {}".format(2,fruits[2]))

0번째 과일은 banana
1번째 과일은 apple
2번째 과일은 orange

In [22]:
fruits = ['banana', 'apple', 'orange']
# print("{}번째 과일은 {}".format(0,fruits[0]))
# print("{}번째 과일은 {}".format(1,fruits[1]))
# print("{}번째 과일은 {}".format(2,fruits[2]))
for idx in range(3):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 banana
1번째 과일은 apple
2번째 과일은 orange

In [23]:
fruits = ['banana', 'apple', 'orange']
# print("{}번째 과일은 {}".format(0,fruits[0]))
# print("{}번째 과일은 {}".format(1,fruits[1]))
# print("{}번째 과일은 {}".format(2,fruits[2]))
for idx in range(len(fruits)):
    print("{}번째 과일은 {}".format(idx, fruits[idx]))

0번째 과일은 banana
1번째 과일은 apple
2번째 과일은 orange

In [ ]:
시니어 개발자 구하기 쉽지 않다.

In [ ]:
이소영 교수님은 3년 놀았다. 노는 것도 쉽지 않다.

In [ ]:
취업 가능한 수준으로 진도를 나가고 있다.

In [ ]:
친정 오빠가 개발자다.

In [ ]:
재택근무의 장단점

In [ ]:
업체는 프리랜서 개발자가 젊은 자와 비슷한 연령, 나이든 개발자는 꺼려한다.

In [ ]:
오빠는 침대에 누워서 개발했다.

In [ ]:
프리랜서 개발자는 경력이 있어야 한다.

In [25]:
list(enumerate(fruits))
[(0,'banana'), (1,'apple'), (2,'orange')]

[(0, 'banana'), (1, 'apple'), (2, 'orange')]

In [26]:
for i, fruit in [(0,'banana'), (1,'apple'), (2,'orange')]:
    print("{}번재 과일은 {fruit}")

{}번재 과일은 {fruit}
{}번재 과일은 {fruit}
{}번재 과일은 {fruit}

In [28]:
for i, fruit in enumerate(fruits): #[(0,'banana'), (1,'apple'), (2,'orange')]:
    print(f"{i}번재 과일은 {fruit}")

0번재 과일은 banana
1번재 과일은 apple
2번재 과일은 orange

In [29]:
for x in fruits: #[(0,'banana'), (1,'apple'), (2,'orange')]:
    print(f"{x}입니다")

banana입니다
apple입니다
orange입니다

In [32]:
# 리스트는 여러 타입 데이터를 담을 수 있음.
numbers = [0, True, "2", [2,3], [4, 5, 6]]
numbers

[0, True, '2', [2, 3], [4, 5, 6]]

In [ ]:
# 리스트는 여러 타입 데이터를 담을 수 있음.
numbers = [0, True, "2"]
numbers

In [33]:
# 리스트는 여러 타입 데이터를 담을 수 있음.
numbers = [0, True, "2", [2,3], [4, 5, 6]]
numbers[2], numbers[4]

('2', [4, 5, 6])

In [34]:
# 리스트는 여러 타입 데이터를 담을 수 있음. 
# numbers 안에 
numbers = [0, True, "2", [2,3], [4, 5, 6]]
numbers[2], numbers[4][1]

('2', 5)

In [39]:
# 2차원 리스트, 논리적인  것,  다차원 리스트,  2차원 데이터가 아님.
numbers = [1, 2, 3, 4, 5]
numbers_2d = [[1, 2, 3, 4, 5],
              [10, 20, 30, 40, 50],
              [1, 3, 5, 7, 9],
              [2, 4, 6, 8, 10]]
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [41]:
numbers_2d[1][4]

50

In [42]:
# 2차원 리스트, 논리적인  것,  다차원 리스트,  2차원 데이터가 아님.
numbers = [1, 2, 3, 4, 5]
# 0열 1열 2열 3열 4열
numbers_2d = [[1, 2, 3, 4, 5], # 0행
              [10, 20, 30, 40, 50], # 1행
              [1, 3, 5, 7, 9], # 2행
              [2, 4, 6, 8, 10]] # 3행
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [44]:
# 특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

50

In [45]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [48]:
for row in numbers_2d: 
    for item in row:
        print(item)

1
2
3
4
5
10
20
30
40
50
1
3
5
7
9
2
4
6
8
10

In [50]:
for row in numbers_2d: 
    for item in row:
        print(item, end='\t')

1	2	3	4	5	10	20	30	40	50	1	3	5	7	9	2	4	6	8	10

In [51]:
for row in numbers_2d: 
    for item in row:
        print(item, end='\t')

1	2	3	4	5	10	20	30	40	50	1	3	5	7	9	2	4	6	8	10

In [52]:
for row in numbers_2d: 
    for item in row:
        print(item, end='\t')
    print()

1	2	3	4	5
10	20	30	40	50
1	3	5	7	9
2	4	6	8	10

In [64]:
for i in range(len(numbers_2d)): # i : 행
    for j in range(len(numbers_2d[i])): # j : 열
        print(j)
        print(i)

0
0
1
0
2
0
3
0
4
0
0
1
1
1
2
1
3
1
4
1
0
2
1
2
2
2
3
2
4
2
0
3
1
3
2
3
3
3
4
3

In [60]:
for i in range(len(numbers_2d)): # j : 행
    for j in range(len(numbers_2d[i])): # j : 열
        print(f"{i}행{j}:{numbers_2d[i][j]})", end="\t")
        
    print()

0행0:1)	0행1:2)	0행2:3)	0행3:4)	0행4:5)
1행0:10)	1행1:20)	1행2:30)	1행3:40)	1행4:50)
2행0:1)	2행1:3)	2행2:5)	2행3:7)	2행4:9)
3행0:2)	3행1:4)	3행2:6)	3행3:8)	3행4:10)

In [65]:
for i in range(len(numbers_2d)): # j : 행
    for j in range(len(numbers_2d[i])): # j : 열
        print(f"{i}행{j}:{numbers_2d[i][j]})", end="\t")
        
    print() # 개행

0행0:1)	0행1:2)	0행2:3)	0행3:4)	0행4:5)
1행0:10)	1행1:20)	1행2:30)	1행3:40)	1행4:50)
2행0:1)	2행1:3)	2행2:5)	2행3:7)	2행4:9)
3행0:2)	3행1:4)	3행2:6)	3행3:8)	3행4:10)

In [66]:
list(enumerate(numbers_2d)), list(enumerate(numbers_2d[0]))

([(0, [1, 2, 3, 4, 5]),
  (1, [10, 20, 30, 40, 50]),
  (2, [1, 3, 5, 7, 9]),
  (3, [2, 4, 6, 8, 10])],
 [(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)])

In [ ]:
for 데이터 변수 in enumerate(numbers_2d):

In [ ]:
for i, row in enumerate(numbers_2d):
    for 데이터 변수 in enumerate(numbers_2d[i]):

In [68]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print("{}행{열}; {}",format(i, j, numbers_2d[i][j]), end="\t")
    print() # 개행

TypeError: format expected at most 2 arguments, got 3

## 1.2 기본 정보 조회

In [ ]:
numbers = [1, 12, 3, 4, 5]
numbers_2d = [[100, 0, 1],
              [9, 100, 100],
              [1, 3, 5, 7, 9],
              [59, 100, 130]]

In [69]:
# item 수
len(numbers),len(numbers_2d)

(5, 4)

In [73]:
# 최소값
min(numbers),min(numbers_2d)

(1, [1, 2, 3, 4, 5])

In [71]:
# 최대값 등
min(numbers),len(numbers_2d), max(numbers_2d)

(1, 4, [10, 20, 30, 40, 50])

In [72]:
# 최소값, 최대값
# 2차원 list의 최소갑, 최대값: 부분 리스트 중 첫ㅎ 요소가 가장 작은 값/큰 값
min(numbers),min(numbers_2d), max(numbers), max(numbers_2d)

(1, [1, 2, 3, 4, 5], 5, [10, 20, 30, 40, 50])

In [75]:
fruits = ['banana', 'apple', 'orange'] 
min(fruits), max(fruits)

('apple', 'orange')

In [74]:
# 정렬하기
numbers = [1, 2, 3, 4, 5]
print("오름차순 정렬:", sorted(numbers))

오름차순 정렬: [1, 2, 3, 4, 5]

In [77]:
# 정렬하기
numbers = [1, 12, 3, 4, 5]
print("오름차순 정렬:", sorted(numbers))
print("내림차순 정렬:", sorted(numbers, reverse=True))

오름차순 정렬: [1, 3, 4, 5, 12]
내림차순 정렬: [12, 5, 4, 3, 1]

In [105]:
# 정렬하기
numbers = [1, 12, 3, 4, 5]
print("오름차순 정렬:", sorted(numbers))
print("내림차순 정렬:", sorted(numbers, reverse=True))
print("합:", sum(numbers))
print("평균:", sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음:", numbers)

오름차순 정렬: [1, 3, 4, 5, 12]
내림차순 정렬: [12, 5, 4, 3, 1]
합: 25
평균: 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음: [1, 12, 3, 4, 5]

## 1.3 요소 추가
```
- + : 두 리스트 연결: abc, def
- * : 리스를 곱한 수만큼 반복
```

- append(): 요소 맨 뒤에 추가, 제일 많이 사용
- extend(리스트): 리스트를 요소별로 맨 뒤에 추가
- insert(idx, 값): idx번째 인덱스 위치에 값 추가

In [83]:
numbers = [1, 12, 3]
numbers = numbers + numbers  # 리스트 연결
numbers

[1, 12, 3, 1, 12, 3]

In [ ]:
웹데이터 분석, 빅 리스트 추가, 베스트셀러 추가

In [ ]:
yes24 베스트 셀러 추가 계속, 연습문제, 24, 48, 96번

In [ ]:
영화개봉날짜, 흥행할까?

In [87]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수만큼 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [86]:
numbers = [1, 2, 3]
print(numbers*3) # 곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [88]:
numbers.append(4) # 맨 뒤에 4 추가
numbers

[1, 2, 3, 4]

In [91]:
numbers.append([5,6,7]) # 맨  요소에 5, 6, 7 추가
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [92]:
numbers = [1, 2, 3]
numbers.extend([5,6,7]) # 맨  뒤에 요소별로 5, 6, 7  각각 추가
numbers

[1, 2, 3, 5, 6, 7]

In [93]:
lst = ['a', 'b', 'c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [94]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [95]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.insert('xx')

In [98]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(1,'xx') # 번째 인덱스에 'xx' 추가) 
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 추가
- 변수[index] : 인덱스 이용 접근
- index(찾을 데이터): 해당 찾을 데이터가 있는 요소의 index를 반환
- 찾을데이터 in list 변수: 찾을 데이터가 리스트변수의 요소인지 여부
- count(찾을데이터): 리스트에서 해당 찾을 데이터의 갯수 반환
-

In [ ]:
리스트는 find가 없음. 에러가 나면 어떻게,

In [121]:
numbers = [1, 2, 3, [1,2, 3,], 1, 2, 3]
numbers

[1, 2, 3, [1, 2, 3], 1, 2, 3]

In [100]:
numbers = [1, 2, 3, [1,2, 3,], 1, 2, 3]
numbers.count(2)

2

In [122]:
numbers = [1, 2, 3, [1,2, 3,], 1, 2, 3]
numbers.count(2), numbers.count([1, 2, 3])

(2, 1)

In [123]:
numbers.count(5)

0

In [124]:
print(2 in numbers) # 2가 numbers 요소가 있는지
print(5 in numbers)

True
False

In [ ]:
#네가 어디 있어?

In [125]:
numbers.index(5)

ValueError: 5 is not in list

In [126]:
numbers.index(2)

1

In [127]:
if 5 in numbers: 
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [128]:
if numbers.count(5): 
    print(numbers.index(5))
else:
    print('5가 요소에 포함되지 않습니다')

5가 요소에 포함되지 않습니다

In [ ]:
# 위 내용 확인 필요, 이소영 교수님께서 확인 후 조치해 주셨ㅇ,ㅡㅁ. 
# 함수, 700만개

In [129]:
def safe_index(lst, item): 
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환"""
    if item in lst: 
        return lst.index(item)
    return -1

In [131]:
safe_index(numbers, 2)

1

In [ ]:
def safe_index(lst, item): 
    """첫번째 매개변수 lst에서 item 요소가 있는 index를 반환.
    item 요소가 없으면 -1 반환"""
    if item in lst: 
        return lst.index(item)
    return -1

In [132]:
safe_index(numbers, 5)

-1

In [133]:
import lst
numbers = [1, 2, 3]
lst.safe_index

In [134]:
from lst import safe_index # lst.py 모듈안의 safe_index를 메모리에 load
numbers = [1, 2, 3]
lst.safe_index()

TypeError: safe_index() missing 2 required positional arguments: 'lst' and 'item'

In [135]:
from lst import safe_index # lst.py 모듈안의 safe_index를 메모리에 load
numbers = [1, 2, 3]
lst.safe_index(numbers,2),safe_index(numbers, 5)

(1, -1)

In [136]:
numbers[5] # 벗어난 인덱싱 시 에러

IndexError: list index out of range

In [137]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱: 원하는 정보
  - [from:to:step] from부터 to앞까지 stem씩 증가하는 index값 추출
  - 인덱스 범위를 벗어난 값도 에러나지 않음.
  - 인덱스는 음수도 가능

2. **리스트컴프리헨션**: 원하는 조건의 데이터 추출, # 편안한 삶

In [ ]:
## 1.5 원하는 요소 추출
1. 리스트 슬라이싱: 원하는 정보
  - [from:to:step] from부터 to앞까지 stem씩 증가하는 index값 추출
  - 인덱스 범위를 벗어난 값도 에러나지 않음.
  - 인덱스는 음수도 가능

2. <font color="red">**스트컴프리헨션**: 원하는 조건의 데이터 추출, # 편안한 삶

In [ ]:
## 1.5 원하는 요소 추출
1. 리스트 슬라이싱: 원하는 정보
  - [from:to:step] from부터 to앞까지 stem씩 증가하는 index값 추출
     * from 생략시 처음, to 생략시 끝. stem 생략시 1
  - 인덱스 범위를 벗어난 값도 에러나지 않음.
  - 인덱스는 음수도 가능

2. **리스트컴프리헨션**: 원하는 조건의 데이터 추출, # 편안한 삶

In [139]:
numbers=[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) # 꺼꾸로 출력
print(numbers[0::2]) # 짟 index 값 출력
print(numbers[2::100]) # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5]

In [140]:
# 모든 데이터 출력
numbers=[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
for data in numbers: 
    print(data, end="\t")

1	3	5	9	10	12	13	18	19	20

In [ ]:
# 짝수 데이터 출력

In [141]:
# 모든 데이터 출력
numbers=[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
# for data in numbers: 
# print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [144]:
# 짝수 데이터 출력
for data in numbers: 
    if data%2==0:
        print(data, end="")

10121820

In [145]:
# 짝수 데이터 출력
# for data in numbers: 
#    if data%2==0:
#        print(data, end="")
[data for data in numbers if data%2==0]

[10, 12, 18, 20]

In [146]:
#  ex1. numbers에서 10이상인 요소만 추출
result = [n for n in numbers if n>=10]
print(result)

[10, 12, 13, 18, 19, 20]

In [149]:
#  ex2. fruits에서 과일의 글자가 5글자 이상인 과알만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
result = [f for f in fruits if len(f) >=5]
print(result)

['orange', 'apple', 'mango']

In [154]:
#  ex3. 3이상인 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[1**2 for 1 in L if 1>=3]

SyntaxError: expected 'else' after 'if' expression (1196564393.py, line 3)

In [ ]:
# ex4. 리스트 요소의 값의 2배를 추출

In [150]:
#  ex1. numbers에서 10이상인 요소만 추출
item for item in numbers if n>=10]
print(item)

SyntaxError: unmatched ']' (2421952086.py, line 2)

## 1.6. 요소 수정하기
- 인덱스 슬라이싱을 이용해서 수정

In [168]:
numbers = [0, 1, 2, 3, 4, 5, 6,7, 8, 9]
numbers[2] = 222 
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [169]:
# 슬라이싱(stem 부분 미포함) 이용하여 부분 리스트를 통째로 수정
numbers[0:2] = ['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx']
print(numbers)

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [158]:
# 슬라이싱(stem 부분 포함) 
numbers = [0]*10
print('수정전 :', numbers)
numbers[0:2] = [9, 9, 9, 9, 9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 9, 9, 9, 9, 0, 0, 0, 0, 0, 0, 0, 0]

In [159]:
# 슬라이싱(stem 부분 포함) 
numbers = [0]*10
print('수정전 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## 1.7 요소 삭제
- pop(): 가장 마지막에 인덱스의 요소가 반환되고 삭제
- pop(idx): idx번째 요소가  반환디고 삭제
- remove(data) : list 안의 data가 삭제
- de

In [174]:
numbers = [1, 2, 3, 4, 5]
print("삭제한 데이터: ", numbers.pop())
print("삭제 후  numbers ", numbers)
print("1번째 삭제한 데이터: ", numbers.pop(1))
print("1번째 삭제후 numbers : ", numbers)
print("데이더 1 삭제")
numbers.remove(1)
print("데이더 1 삭제 후 number :", numbers)
print("del numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터:  5
삭제 후  numbers  [1, 2, 3, 4]
1번째 삭제한 데이터:  2
1번째 삭제후 numbers :  [1, 3, 4]
데이더 1 삭제
데이더 1 삭제 후 number : [3, 4]
del numbers[1]
[3]

In [175]:
# numbers.remove(9)
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item입니다")

해당 데이터는 없는 item입니다

In [176]:
numbers.clear() #  모드 요소 삭제
numbers

[]

## 정렬하기

In [178]:
numbers = [9, 5, 0, 8, 6]
print("numbers는 변경하지 않고 정렬결과:", sorted(numbers))
print("numbers ;", numbers)

numbers는 변경하지 않고 정렬결과: [0, 5, 6, 8, 9]
numbers ; [9, 5, 0, 8, 6]

In [179]:
numbers.sort() # 오름차춘 결과로 numbers 자체가 오름차순 졍렬결과로 바꿈
numbers

[0, 5, 6, 8, 9]

In [181]:
numbers.sort(reverse=True) # 내림 차순?
numbers

[9, 8, 6, 5, 0]

In [182]:
numbers.reverse() # 리스트를 역순으로 변경
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [185]:
# 3장, 10장, 11장 동일 방식
# 스칼라 데이터 복제
i = 10
cp_i = i
print(f"원본i = {i}, 복사본 cp_i={cp_i})/원본 주소={id(i)}, 복사본 주소={id(cp_i)}")
cp_i=99
print(f"원본i = {i}, 복사본 cp_i={cp_i})/원본 주소={id(i)}, 복사본 주소={id(cp_i)}")

원본i = 10, 복사본 cp_i=10)/원본 주소=1419979457040, 복사본 주소=1419979457040
원본i = 10, 복사본 cp_i=99)/원본 주소=1419979457040, 복사본 주소=1419979459888

In [187]:
# 데이터 구조의 복제
numbers =[5, 6, 1, 9]
new_numbers=numbers

In [189]:
# 데이터 구조의 복제
numbers =[5, 6, 1, 9]
new_numbers=numbers
print('원본 주소:', id(numbers))
print('벅제본 주소:', id(new_numbers))

원본 주소: 1420092696512
벅제본 주소: 1420092696512

In [192]:
# 데이터 구조의 복제
numbers =[5, 6, 1, 9]
new_numbers=numbers
print('원본 주소:', id(numbers))
print('복제본 주소:', id(new_numbers))
new_numbers[0]=99

원본 주소: 1420092797184
복제본 주소: 1420092797184

In [194]:
# 데이터 구조의 복제
numbers =[5, 6, 1, 9]
new_numbers=numbers
print('원본 주소:', id(numbers))
print('복제본 주소:', id(new_numbers))
new_numbers[0]=99
print('원본 내용:', id(numbers))
print('복제본 주소:', id(new_numbers))
print('원본 내용:', id(numbers))
print('복제본 주소:', id(new_numbers))

원본 주소: 1420092697536
복제본 주소: 1420092697536
원본 내용: 1420092697536
복제본 주소: 1420092697536
원본 내용: 1420092697536
복제본 주소: 1420092697536

In [195]:
# 할당
numbers=[5, 6, 1, 9]
new_numbers=numbers
new_numbers.sort()
print('원본 내용:', numbers)
print('복제본 주소:', new_numbers)
print('원본 내용:', numbers)
print('복제본 주소:', new_numbers)

원본 내용: [1, 5, 6, 9]
복제본 주소: [1, 5, 6, 9]
원본 내용: [1, 5, 6, 9]
복제본 주소: [1, 5, 6, 9]

In [ ]:
# 리스트 복제(깊은 복사)
numbers=[5, 6, 1, 9]
new_numbers=numbers,copy() # numbers를 복제(깊은 복사)

In [ ]:
# 리스트 복제(깊은 복사)
numbers=[5, 6, 1, 9]
new_numbers=numbers,copy() # numbers를 복제(깊은 복사)

In [197]:
numbers=[5, 6, 1, 9]
new_numbers=sorted(numbers)

원본: [5, 6, 1, 9]
정렬본: [5, 6, 1, 9]

In [199]:
numbers=[5, 6, 1, 9]
new_numbers=numbers.copy
new_numbers.sort(reverse=True)
print("원본:", numbers)
print("복제본:", new_numbers)
print("원본 주소:", id(numbers))
print("복제본 주소:", id(new_numbers))

AttributeError: 'builtin_function_or_method' object has no attribute 'sort'

In [210]:
city=['서울', '대전', '대구', '부산','하남', '수원', '제주']
temp = city.copy()
temp.sort()
print("정렬전:", city)
print("정렬 후:", temp)

정렬전: ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
정렬 후: ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

## 2절 튜플
- 리슽트([])와 유사하지만 읽기전용, 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음.
-() 이용해서 생성

In [212]:
city=('서울', '대전', '대구', '부산','하남', '수원', '제주')
# 파이썬은 여려 개 값이 전달 시 튜플 타입으로 전달
city='서울', '대전', '대구', '부산','하남', '수원', '제주'
print(type(city))
print(city)

<class 'tuple'>
('서울', '대전', '대구', '부산', '하남', '수원', '제주')

In [ ]:
a, b = 10, 20

In [213]:

city=['서울', '대전', '대구', '부산','하남', '수원', '제주']

In [ ]:
# 매개변수로 listrk 오sms tuple 매게변수로 함수 사용
",".join(city)

In [214]:
from lst import safe_index
safe_index(city, '대전')

1

In [217]:
1=['서울']
print(type(1))

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2710133924.py, line 1)

In [218]:
city = ('서울') # 요소가 하나있는 튜플
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [221]:
city = ('서울', '하남') # 요소가  둘 튜플
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울', '하남')
2

In [220]:
city = ('서울') # 요소가 하나있는 튜플(0)
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [226]:
numbers=(1, 2, 3)
# numbers, append(4) 수정하기 함수 비 제공

In [227]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [228]:
numbers.count(4)

0

In [229]:
numbers.index(3)

2

In [230]:
# numbers.index(4)
if 4 in numbers: 
    numbers.index(4)
else:
    print('해당 데이터 없음')

해당 데이터 없음

In [ ]:
safe.numbers