In [12]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

In [ ]:
<b><font size="7" color="red">ch09. 파일 i/o  프로그래밍/font></b>
- 파일: txt, pickle(머신러링 모델저장, 배열 저장 ),csv, json,h5(딥러닝모델 저장) * 다단계 선형. 비선형 모델
1절 txt 파일에 데이터 자장하고 불러오기

In [5]:
# mode = 'r' 또는 'rt' : 텍스트 읽기 모드로 열기, 파일이 없을 경우 예외 발생
# mode = 'w' 또는 'wt' : 텍스트 쓰기 모드로 열기, 폴더가 없을 경우 예외 발생
                    # 파일이 없으면 생성, 있으면 덮어씀
# mode= 'a' 똔ㄴ 'at': 텍스트 쓰기모드로 열기, 폴더가 없을 경우 예외 발생
                    # 파일이 없으면 생성, 있으면 뒤에 append
f=open('data/ch09.txt','w', encoding='utf-8') # encoding='cp949'
print('쓰기 가능한지:', f.writable())
f.write('안녕\n파이썬\hello\nworld\n')
f.close()

쓰기 가능한지: True

In [3]:
f.write('hello\nworld\n')

12

In [4]:
f.close()

In [8]:
# with 구문 사용하면 매면 close()하는 코드 필요
with open('data/ch09.txt', 'wt') as f:
          print('쓰기 가능한지:', f.writable())
          f.write('Python is easy.\nPython is smart.\n')

쓰기 가능한지: True

In [10]:
with open('data/ch09.txt', 'a') as f:
          print('프린트함수로 파일 쓰기 가능. -파일출력', file=f)
          print('프린트함수로 파일 쓰기 가능. -콘솔출력')

프린트함수로 파일 쓰기 가능. -콘솔출력

In [ ]:
- 한글 읽기/쓰기
* cp949(한글완성형 확장형): open 함수의 기본 인코딩(win)
* utf-8(한글조합형): 주피터노트북에서 열기

In [ ]:
*.txt(텍스트 저장) 
*.pickle, *.pkl, *.data(객체 list, diclist)
*.csv: 다수의 데이터
*.json: 다수의 데이터
*.h5, *,hdf5(객체, diclist)

In [6]:
with open('data/ch09.txt', 'w', encoding='UTF-8') as f:
    # 방법1
    f.write('홍길동, 30, 서울\n')
    f.write('김길동, 45, 서울\n')
    # 방법2
    textlist=['홍길동, 30, 서울\n', '김길동, 45, 서울\n']
    for line in textlist:
        f.write(line)
    # 방법3
    f.writelines(textlist) # 리스트를 한번에 write

In [7]:
# 파일을 한번에 읽어오기
with open('data/ch09.txt', 'rt', encoding='utf-8') as f:
    filecotent = f.read()
filecotent

'홍길동, 30, 서울\n김길동, 45, 서울\n홍길동, 30, 서울\n김길동, 45, 서울\n홍길동, 30, 서울\n김길동, 45, 서울\n'

In [8]:
# 파일을 한줄 읽고 출력, 한줄읽고 출력,...
with open('data/ch09.txt', 'r', encoding='utf-8') as txtfile:
    line=txtfile.readline()
    while line !='':
        print(line, end='')# Line에 \m이 포함되어 있어 출력시  개행은 제거
        line=txtfile.readline()

홍길동, 30, 서울
김길동, 45, 서울
홍길동, 30, 서울
김길동, 45, 서울
홍길동, 30, 서울
김길동, 45, 서울

In [9]:
# 파일을 한번에 여려줄 읽어 한줄씩 LIST 담아 return 
with open('data/ch09.txt', 'r', encoding='utf-8') as txtfile:
    lines=txtfile.readlines()
print(lines)

['홍길동, 30, 서울\n', '김길동, 45, 서울\n', '홍길동, 30, 서울\n', '김길동, 45, 서울\n', '홍길동, 30, 서울\n', '김길동, 45, 서울\n']

In [11]:
for line in lines:
    print(line, end='')

홍길동, 30, 서울
김길동, 45, 서울
홍길동, 30, 서울
김길동, 45, 서울
홍길동, 30, 서울
김길동, 45, 서울

# 2절 피클을 이용한 객체 저장, 불러오기
- 머신러닝 모델 저장,ㅇ, 배열 저장, 객체저장
## 2.1 형식이 있는 텍스트 데이터 불러오기

In [12]:
with open('data/ch09_member.txt', 'r', encoding='UTF-8') as f:
    lines=f.readlines()
print(lines)

['홍길동, 20, kildong@hong.com, 서울시 관악구\n', '홍길숙, 25, kilsuk1@hong.com, 서울시 영등포구\n', '신길동, 30, shinkil@hong.com, 서울시 동작구']

In [17]:
with open('data/ch09_member.txt', 'r', encoding='UTF-8') as f:
    lines=f.readlines()
# print(lines)
for line in lines:
    # print(line)
    data=line.split(',')
    # print(data)
    name=data[0]
    age=int(data[1])
    email=data[2]
    address=data[3].strip()
    print({'name': name,
          'age':age,
          'email':email,
          'address': address})

{'name': '홍길동', 'age': 20, 'email': ' kildong@hong.com', 'address': '서울시 관악구'}
{'name': '홍길숙', 'age': 25, 'email': ' kilsuk1@hong.com', 'address': '서울시 영등포구'}
{'name': '신길동', 'age': 30, 'email': ' shinkil@hong.com', 'address': '서울시 동작구'}

In [23]:
class Member:
    def __init__(self, name, age, emali, address):
        self.name=name
        self.age=age
        self.email=email
        self.address=address
    def __str__(self):
        return "{}, {}, {}, {}".format(self.name, self.age, self.email, self.address)

In [22]:
member1=Member("신길동", 30, 'shink1@hong,com', '서울시 동작구')
member2=Member("신길동", 30, 'shink1@hong,com', '서울시 동작구')
print(member1)
print(member2)
print(member2==member1)

신길동, 30,  shinkil@hong.com, 서울시 동작구
신길동, 30,  shinkil@hong.com, 서울시 동작구
False

In [25]:

member1 = Member("신길동", 30, 'shinkil@hong.com', '서울시 동작구')
member2 = Member("신길동", 30, 'shinkil@hong.com', '서울시 동작구')
print(member1.__str__())
print(member2)
print(member2==member1)
print(member2.__eq__(member1))
print(member1.__dict__)
print(member1.as_dict())

신길동, 30,  shinkil@hong.com, 서울시 동작구
신길동, 30,  shinkil@hong.com, 서울시 동작구
False
NotImplemented

In [29]:
class Member:
    def __init__(self, name, age, emali, address):
        self.name=name
        self.age=age
        self.email=email
        self.address=address
    def __str__(self):
        return "{}, {}, {}, {}".format(self.name, self.age, self.email, self.address)
    def __eq__(self, other):
        return self.name == other.name and\
                self.age==other.age and\
                self.email==other.email and\
                self.address==other.address
    def __eq__(self, other):
        return self.__str__()==other.__str__()

In [30]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age  = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{},{},{},{}".format(self.name, self.age, self.email, self.address)
#     def __eq__(self, other):
#         return self.name == other.name and \
#                 self.age == other.age and \
#                 self.email == other.email and \
#                 self.address == other.address
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict

IndentationError: unexpected indent (3017247425.py, line 18)

##  2.2 피클링
- 객체리스트--> 피클파일로 쓰기
-

In [32]:
# ch09_member.txt파일 -> 객체list, 딕셔너리list로 읽어오기
member_list = [] # Member객체 list
dict_list   = [] # 딕셔너리 list
with open('data/ch09_member.txt', 'r', encoding='UTF-8') as f:
    lines = f.readlines()
for line in lines:
    data = line.split(',')
    data = [item.strip() for item in data]
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3]
    member = Member(name, age, email, address)
    member_list.append(member)
    dict_list.append(member.__dict__)

In [33]:
for member in member_list: # 객체 list
    print(member)

홍길동, 20, kildong@hong.com, 서울시 관악구
홍길숙, 25, kilsuk1@hong.com, 서울시 영등포구
신길동, 30, shinkil@hong.com, 서울시 동작구

In [34]:
# 피클링(확장자: pkl, pickle, data)을 이용하 객체를 파일에 저장
import pickle
with open('data/ch09_member.pkl', 'wb') as f:
    pickle.dump(member_list,f)

In [86]:
# 피클링을 이용한 파일을 객체리스트로 읽기
with open('data/ch09_member.pkl', 'rb') as f:
    load_member_list = pickle.load(f)

In [37]:
id(member_list), id(load_member_list)

(2245074338048, 2245075746560)

In [39]:
for idx in range(len(member_list)):
    print(idx, '번째 비교:', (member_list[idx]==load_member_list[idx]))

0 번째 비교: True
1 번째 비교: True
2 번째 비교: True

In [40]:
for idx, (member, load_member) in enumerate(zip(member_list, load_member_list)):
    print(idx, '번째 비교:', member==load_member)

0 번째 비교: True
1 번째 비교: True
2 번째 비교: True

In [41]:
result=[] # 비교결과(True/False)를 append
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
result

[True, True, True]

In [42]:
all(result) # 모든 요소들이 Truse인지 여부

True

In [ ]:
all([True])

# 3절 csv 파일 읽기/쓰기
- csv파일자료를 리스트 데이터로 읽고 쓰기(3.1과 3.2)
- csv파일 자료를 딕셔너리 데이터로 읽고 쓰기(3.3.과 3.4)
## 3.1- reader

In [43]:
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    result=list(reader)
result

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'],
 ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'],
 ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [44]:
with open('data/ch09_member1-cp.csv', 'r') as f:
    reader=csv.reader(f)
    for row in reader:
        print(row)

['홍길동', '20', 'kildong@hong.com', '서울시 관악구', '']
['김길동', '40', 'kimdong@hong.com', '서울시 영등포구', '팀장']
['신길동', '30', 'sindong@hong.com', '서울시 동작구', '']

In [ ]:
# ''(따옴표)가 없는 데이트는 numeric으로 읽어

In [45]:
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader=csv.reader(f,
                      quoting=csv.QUOTE_NONNUMERIC)
    for row in reader:
        print(row)

['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구']
['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구']
['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']

## 3.2
- list->csv로 저장

In [49]:
user_list=[['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'],
            ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'],
            ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

In [53]:
# newLine=' ' 옵션 빼면 개행이 2번(python 3.10.9)
try:
    with open('data/ch09_member2-write.csv','w', newline='') as f: # 모드는 텍스트 모두도 있고, 
        writer=csv.writer(f)
#         for user in user_list:
#             writer.writerow(user)
        writer.writerows(user_list)
except FileNotFoundError as e:
    print(e)

## 3.3  DictReader
-csv  파일을 딕셔너리 데이터로 읽기

In [54]:
import csv
# header가 있는 csv 파일을 딕셔너리로 읽기(data/ch09_member3.csv)
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader=csv.DictReader(f)
    result=list(dict_reader)
result

[{'name': '홍길동',
  'age': '20',
  'email': 'h@h.com',
  'address': '서울시 관악구',
  'job': None},
 {'name': '신길동',
  'age': '40',
  'email': 's@h.com',
  'address': '서울시 영등포구',
  'job': '팀장'},
 {'name': '김길동',
  'age': '30',
  'email': 'k@h.com',
  'address': '서울시 동작구',
  'job': None}]

In [55]:
import csv
# header가 있는 csv 파일을 딕셔너리로 읽기(data/ch09_member3.csv)
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader=csv.DictReader(f, restval="없음")
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': '없음'}
{'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': '없음'}

In [56]:
# csv 파일을 데이터프렘 데이터로 읽기
import pandas as pd
members=pd.read_csv('data/ch09_member3.csv')# 기본 인코딩 방식이 encoding=utf-8
members

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [57]:
type(members)

pandas.core.frame.DataFrame

In [88]:
pd.DataFrame(data=result)

       0
0   True
1   True
2   True
3  False
4   True

In [91]:
# header가 없는 csv 파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader=csv.DictReader(f, fieldnames=['name', 'age','email','address','job'])
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ''}
{'name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ''}

In [60]:
# header가 없는 csv파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv','r') as f:
    dict_reader=csv.DictReader(f, fieldnames=['name', 'age', 'Email', 'Address'],
                               restkey='Job')
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ['']}
{'name': '김길동', 'age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': ['팀장']}
{'name': '신길동', 'age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ['']}

## 3.4 DictWriter
- 딕션너리  데이터를 csv파일로 쓰기

In [62]:
user1={'name': '신길동', 'age': '30', 'email': 'sg@hong.com', 'address': '서울'}
user2={'name': '홍길동', 'age': '20', 'email': 'hg@hong.com',  'address': '경기'}
user3={'name': '김길동', 'age': '25', 'email': 'kg@hong.com', 'address': '서울'}
user_list=[user1, user2, user3]
user_list

[{'name': '신길동', 'age': '30', 'email': 'sg@hong.com', 'address': '서울'},
 {'name': '홍길동', 'age': '20', 'email': 'hg@hong.com', 'address': '경기'},
 {'name': '김길동', 'age': '25', 'email': 'kg@hong.com', 'address': '서울'}]

In [92]:
fieldnames=list(user1.keys())
fieldnames

['name', 'age', 'email', 'address']

In [94]:
with open('data/ch09_member4.csv', 'w', encoding='utf-8', newline='') as f:
    dict_writer=csv.DictWriter(f, fieldnames=fieldnames)
    dict_writer.writeheader() # header 한줄 쓰기
#      for user in user_list:
#          dict_writer.writerow(user)
    dict_writer.writerows(user_list)

# 4절, JSON 파일에 저장하고 불러오기(dump, load)
[{'title':'국가정보원 화재', 'url': 'http://~', 'content:'무시시기무시기~'},
## 4.1 json dump(파일에 저장)
### 1. 딕셔너리 listfmf json
###

In [ ]:
####

In [66]:
data =[{'name': '신길동', 'age': 30, 'email': 'sg@hong.com', 'address': '서울'},
     {'name': '홍길동', 'age': 20, 'email': 'hg@hong.com', 'address': '부산'},
     {'name': '김길동', 'age': 25, 'email': 'kg@hong.com', 'address': '대전'}]
data

[{'name': '신길동', 'age': 30, 'email': 'sg@hong.com', 'address': '서울'},
 {'name': '홍길동', 'age': 20, 'email': 'hg@hong.com', 'address': '부산'},
 {'name': '김길동', 'age': 25, 'email': 'kg@hong.com', 'address': '대전'}]

In [95]:
# ensure_ascii 옵션의 역할: ASCII 코드를 넘어선 문자를 어떻게 처리할지
# 기본값(True): ascii 코드 범위를 넘어선 글자는 유니코드로 저장
# False: 비 ascii 문자는 원래 형태로 그대로 저장
import json
with open('data/ch09-member1.json', 'w') as jsonfile:
    json.dump(data, # 딕셔너리 리스트
              jsonfile, # 제이션 파일스트림
              ensure_ascii=False,# 비ascii 코드 문자 처리 여부
              indent='') # 들여쓰기 여부

### 2. 객체 list를 json 파일로 저장

In [70]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age  = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{},{},{},{}".format(self.name, self.age, self.email, self.address)
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    def as_dict(self):
        '객체를 딕셔너리로 바꿔 return(json파일 저장시 필요)'
        return self.__dict

In [72]:
member_list=[Member('홍길동', 30, 'h@h.com', '서울'),
            Member('마길동', 30,  'm@h.com', '하남'),
            Member('박길동', 30, 'p@h.com', '대전')]
[member.__str__() for member in member_list ]

['홍길동,30,h@h.com,서울', '마길동,30,m@h.com,하남', '박길동,30,p@h.com,대전']

In [75]:
with open('data/ch09_member2.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(member_list,
              jsonfile,
              ensure_ascii=False,
              indent='\t',
              default=Member.as_dict)

In [76]:
with open('data/ch09_member2.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(member_list, # 저장할 리스트(객체 리스트)
             jsonfile,
             ensure_ascii=False,
             indent='\t',
             default=Member.as_dict) # 객체를 딕셔너리형태로 return하는 함수

AttributeError: 'Member' object has no attribute '_Member__dict'

In [96]:
### (1) json 파일을 딕셔너리 리스트로 읽기
with open('data/ch09_member1.json', 'r') as jsonfile:
    load_data=json.load(jsonfile)
load_data

[{'name': '홍길동', 'age': 20, 'email': 'h@h.com', 'address': '서울'},
 {'name': '김길동', 'age': 30, 'email': 'k@h.com', 'address': '부산'},
 {'name': '신길동', 'age': 40, 'email': 's@h.com', 'address': '안양'}]

In [97]:
###(2)  json 파일을 객체 리스트로 읽기
# {'name':'홍','age';3, 'email:', 'address': '설'} => Member('홍', 3, 'h@h','설')
def as_member(dic):
    #return Member(dic['name'], dic['age'], dic['email'], dic['address']
    return Member(dic.get('name'),
                  dic.get('age'),
                  dic.get('email'),
                  dic.get('address')
                  )

In [78]:
with open('data/ch09_member2.json', 'r', encoding='utf-8') as jsonfile:
    load_member_list=json.load(jsonfile,
                              object_hook=as_member) # 딕셔너리를 객체로 return 함수
for load_member in load_member_list:
    print(load_member)

NameError: name 'as_member' is not defined

In [ ]:
# member_list==> ch09_member2.json=> load_member_list
# member_list와 load_member_list가 같은 내용인지 검사

In [98]:
result=[] # list 내 객체들끼리 비교 결과
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
print('두 객체 리스트의 모든 데이터가 일치 부여: ', all(result))

두 객체 리스트의 모든 데이터가 일치 부여:  False

In [83]:
import numpy as np
result=[True, True,True, False, True]
all(result)

False

In [85]:
import numpy as np
result=np.array([True, True,True, False, True])
np.where(result==False)

(array([3], dtype=int64),)

# 5절. HDF5  파일 쓰기/읽기
- *.hdf5나 *.h5 파일을 볼 수 있는 hdfviwer를 설치
- 딕셔너리 리스트, 데이터프레임(전처리), 딥러닝 모델

In [5]:
# seaborn: 파이썬에성 데이터 시각화를 도와주는 라이브러리로 자주 사용 데이터 셋
import seaborn as sns
iris_df=sns.load_dataset("iris")
display(iris_df) # print 쓰지 말라. display 써라.

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
# seaborn: 파이썬에성 데이터 시각화를 도와주는 라이브러리로 자주 사용 데이터 셋
import seaborn as sns
iris_df=sns.load_dataset("iris")
iris_df # 꽃의 종, 꽃받침 길이, 꽃받침 너비, 꽃잎 길이, 꽃임 너비

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# 데아터 프레임을 hdf파알로 쓰기
iris_df.to_hdf('data/ch09_irisdf.hdf5', key='iris')

In [7]:
# hdf 파일을 데이터프레임으로 읽어오기
import pandas as pd
load_iris_df=pd.read_hdf('data/ch09_irisdf.hdf5', key='iris')
load_iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
# 두 데이터 프레임이 같은지 여부
iris_df.equals(load_iris_df)

True

In [9]:
iris_df==load_iris_df

     sepal_length  sepal_width  petal_length  petal_width  species
0            True         True          True         True     True
1            True         True          True         True     True
2            True         True          True         True     True
3            True         True          True         True     True
4            True         True          True         True     True
..            ...          ...           ...          ...      ...
145          True         True          True         True     True
146          True         True          True         True     True
147          True         True          True         True     True
148          True         True          True         True     True
149          True         True          True         True     True

[150 rows x 5 columns]

# 6절 연습문제: 고객관리(제1장-9장, 8장 예외처리 제외), 10장부터 15장까지
- 프로그램 시작시
    * data/ch09_customers.txt(프로그램 종료시 백업용 데이터) 파일이 있으면 파일을 customer_list)
    * data/ch09_customers.txt 파일이 없으면 빈 파일 생성(w모드 열어 close)
    * data/ch09_customers.txt 파일 내용
    ```
        홍길동, 010-9999-9999, k@hong.com, 30, 5, vvip
        유길동, 010-5432-2222, y@hong.com, 20, 2, 가칠해
    ```
## customer 클래스 및 to_customer() 함수 작성
    * customer("홍길동", "010-9999-9999", "h@h,   30,  2,    '기타') 객체 생성
    * 변수:  name       phone           email  age  grade  etc
    * 함수:__init__, __str__, as_dic(객체를 딕셔너리로 return), to_txt_style(객체를 text로)

In [2]:
class Customer:
    '고객 데이터'
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = age
        self.grade = grade
        self.etc = etc
    def as_dic(self):
        return self.__dict__
    def to_txt_style(self):
        return "{}, {}, {}, {}, {}, {}".format(self.name, self.phone, self.email,
                                              self.age, self.grade, self.etc)
    def __str__(self):
        return "{:>5}\t{}\t{}\t{}\t{}\t{}".format('*'*self.grade,
                                                    self.name,
                                                    self.phone,
                                                    self.email,
                                                    self.age,
                                                    self.etc)

In [5]:
c1 = Customer("홍길동","010-9999-9999","h@h.com", 20, 3, "기타")
c2 = Customer("홍길동","010-9999-9999","h@h.com", 20, 5, "기타")
print(c1)
print(c2)
print(c1.to_txt_style())
print(c1.as_dic())

  ***	홍길동	010-9999-9999	h@h.com	20	기타
*****	홍길동	010-9999-9999	h@h.com	20	기타
홍길동, 010-9999-9999, h@h.com, 20, 3, 기타
{'name': '홍길동', 'phone': '010-9999-9999', 'email': 'h@h.com', 'age': 20, 'grade': 3, 'etc': '기타'}

In [3]:
def to_customer(text):
    'txt 파일 내용 한줄(홍길동, 010-8999-9999, e@e.com, 20, 3, 까칠해)을 Customer 객체로 반환'
    data = text.strip().split(', ')
    name = data[0]
    phone = data[1]
    email = data[2]
    age = int(data[3])
    grade = int(data[4])
    etc = data[5]
    return Customer(name, phone, email, age, grade, etc)

In [4]:
customer = to_customer('유길동, 010-5432-2222, y@hong.com, 20, 2, 가칠해')
print(customer)

   **	유길동	010-5432-2222	y@hong.com	20	가칠해

## 0, 처음 실행
```
data/ch09_customer.txt 파일 내용을 
data/ch09_customer.txt
    빈 data/ch09_customer.txt 파일 생성(w모드로 열고 닫으면) f.write('') customer_list=[]
```

In [5]:
def load_customer():
    customer_list=[]
    # 파일 내용을 customer_listdp append한다. 예외 발생시 파일 작성
    try:
        with open('data/ch09_customers.txt','r', encoding='utf-8') as f:
            # 방법 1, 한줄씩 읽어서 customer_list에 append하기
            line=f.readline()
            while line !="":
                customer=to_customer(line)
                customer_list.append(customer)
                line=f.readline()
    except FileNoteFoundError as e:
        with open('data/ch09_customers.txt','w', encoding='utf-8') as f:
            f.write('')
    return customer_list

In [6]:
def load_customers():
    customer_list = []
    # 파일 내용을 customer_list에 append한다. 예외발생시 파일 작성
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f:
            # 방법1. 한줄씩 읽어서 customer_list에 append하기
#             line = f.readline()
#             while line != '':
#                 customer = to_customer(line)
#                 customer_list.append(customer)
#                 line = f.readline()
            # 방법2. 여러줄을 한꺼번에 읽어서 for문으로 append하기
            lines = f.readlines()
        for line in lines:
            customer = to_customer(line)
            customer_list.append(customer)
    except FileNotFoundError as e:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            f.write('')
    return customer_list

In [7]:
# 위 함수 test
customer_list = load_customers()
[customer.__str__() for customer in customer_list]

['*****\t홍길동\t010-9999-9999\tk@hong.com\t30\tvvip',
 '   **\t유길동\t010-5432-2222\ty@hong.com\t20\t가칠해',
 '  ***\t신림동\t010-8888-8888\ts@song.com\t33\t글쎄',
 ' ****\t홍길동\t010-7777-7777\th@hong.com\t33\tvip']

## 1. 입력

In [9]:
import re
name = "홍"
name_pattern = r'[a-zA-Z]{2,}'
print(re.search(name_pattern, name))

None

In [10]:
# 1번 함수 테스트
customer_list = load_customers()
customer = fn1_insert_customer_info()
customer_list.append(customer)
for customer in customer_list:
    print(customer)

이름 :123
이름을 제대로 입력하세요(한글 2글자 이상)
이름 :마
이름을 제대로 입력하세요(한글 2글자 이상)
이름 :마길동
전화 :010-9999-9999
메일 :m@m.com
나이 :100
등급(1~5) : a
유효하지 않은 등급 입력시 1등급으로 초기화
기타 정보 :몰라요
*****	홍길동	010-9999-9999	k@hong.com	30	vvip
   **	유길동	010-5432-2222	y@hong.com	20	가칠해
  ***	신림동	010-8888-8888	s@song.com	33	글쎄
 ****	홍길동	010-7777-7777	h@hong.com	33	vip
    *	마길동	010-9999-9999	m@m.com	100	몰라요

## 2. 전체 출력

In [12]:
def fn2_print_customers(customer_list):
    'customer_list 출력'
    print('='*70)
    print('{:^70}'.format('고객 정보'))
    print('='*70)
    print("{:>5}\t{:^3}\t{:^13}\t{:^10}\t{}\t{}".format('grade','이름','전화','메일','나이','기타') )
    print('-'*70)
    for customer in customer_list:
        print(customer)

In [13]:
# 위 2번 함수 test
fn2_print_customers(customer_list)

======================================================================
                                고객 정보
======================================================================
grade	이름 	     전화      	    메일    	나이	기타
----------------------------------------------------------------------
*****	홍길동	010-9999-9999	k@hong.com	30	vvip
   **	유길동	010-5432-2222	y@hong.com	20	가칠해
  ***	신림동	010-8888-8888	s@song.com	33	글쎄
 ****	홍길동	010-7777-7777	h@hong.com	33	vip
    *	마길동	010-9999-9999	m@m.com	100	몰라요

## 3. 삭제

In [15]:
# 동명이인이 없을 경우 삭제 구현
def fn3_delete_customer(customer_list):
    '삭제하고자 하는 고객이름을 받아 customer_list에서 삭제'
    name = input('삭제할 고객의 이름은?')
    for idx, customer in enumerate(customer_list):
        if customer.name == name:
            # 리스트에서 customer 삭제
            # customer_list.remove(customer)
            # 리스트에서 idx번째 삭제
            del customer_list[idx]
            print(name, '님 데이터를 삭제하였습니다')
            break
    else:
        print(name, '님이 데이터에 존재하지 않습니다')

In [16]:
# 위 3번 함수 test
fn3_delete_customer(customer_list)

삭제할 고객의 이름은?김길동
김길동 님이 데이터에 존재하지 않습니다

In [ ]:
# 동명이인이 있을 경우(해당 동명이인을 다 삭제) 삭제 구현
def fn3_delete_customer(customer_list):
    pass

In [23]:

# 동명이인이 있을 경우(해당 동명이인을 다 삭제) 삭제 구현
def fn3_delete_customer(customer_list):
    '삭제하고자 하는 고객이름을 받아 customer_list에서 삭제'
    name = input('삭제할 고객의 이름은?')
    delete_idx = [] # 삭제할 인덱스 저장 용도
    for idx, customer in enumerate(customer_list):
        if customer.name == name:
            delete_idx.append(idx) # 삭제할 인덱스 추가함
    if delete_idx:
        for idx in delete_idx[::-1]: # [2,1]
            del customer_list[idx]
        print(f'{name}님 {len(delete_idx)}명을 삭제하였습니다')
    else:
        print(name, '님이 데이터에 존재하지 않습니다')

In [24]:

# 위 3번 함수 test
customer_list = load_customers()
fn3_delete_customer(customer_list)

삭제할 고객의 이름은?홍길동
홍길동님 2명을 삭제하였습니다

In [ ]:
# 동명이인이 있을 경우 해당 customer를 삭제할지 붇고 Y를 입력시 삭제 구현
def fn3_delete_customer(customer_list):
    pass

In [ ]:
# 위 3번 함수 test

## 4. 이름찾기

In [26]:
# 동명이인이 없을 경우 삭제 구현
def fn4_search_customer(customer_list):
    '찾고자 하는 이름을 input 받아 customer_list에서 검색하여 fn2_print_customer()이용하여 출력'
    name=input('검색할 이름은?')
    search_list=[] # 검색한 결과 append
    for customer in customer_list:
        search_list.append(customer)
    if search_list:
        fn2_print_customers(search_list)
    else:
        print(f"{name}님 데이터는 존재하지 않습니다")

In [27]:
# 위 4번 함수 test
customer_list=load_customers()
fn4_search_customer(customer_list)

검색할 이름은?홍홍호
======================================================================
                                고객 정보
======================================================================
grade	이름 	     전화      	    메일    	나이	기타
----------------------------------------------------------------------
*****	홍길동	010-9999-9999	k@hong.com	30	vvip
   **	유길동	010-5432-2222	y@hong.com	20	가칠해
  ***	신림동	010-8888-8888	s@song.com	33	글쎄
 ****	홍길동	010-7777-7777	h@hong.com	33	vip

## 5. 내보내기(csv)

In [28]:

def fn5_save_customer_csv(customer_list):
    '매개변수로 받은 customer_list를 딕셔너리리스트로 변환하여 csv출력'
    import csv
    if customer_list:
        customer_dict_list = []
        for customer in customer_list:
            customer_dict_list.append(customer.__dict__)
        fieldnames = list(customer_dict_list[0].keys())
        filename = input('저장할 csv파일명은(확장자제외)?')
        with open('data/{}.csv'.format(filename), 'w', encoding='UTF-8', newline='') as f:
            dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
            dict_writer.writeheader() # 해더 쓰기
            dict_writer.writerows(customer_dict_list) # 데이터 쓰기
            print(f'data/{filename}.csv 내보내기 완료')
    else:
        print('입력된 회원 데이터가 없어서 csv 내보내기를 취소합니다')

In [29]:

# 위 5번 함수 test
customer_list = load_customers()
fn5_save_customer_csv(customer_list)

저장할 csv파일명은(확장자제외)?0
data/0.csv 내보내기 완료

## 종료
- 종료하기 전 customer_list 자료 저장하고 종료

In [ ]:
def fn9_save_customer_txt(customer_list):
    'customer_list의 내용을 data/ch09_customers.txt에 저장'
    customer_text_list = []
    for customer in customer_list:
        customer_text_list.append(customer.to_txt_style()+"\n")
    with open('data/ch09_customers.txt', 'w', encoding='UTF-8') as f:
        f.writelines(customer_text_list)

In [ ]:
# 위 9번 함수 test
fn9_save_customer_txt(customer_list)

## main()

In [ ]:

def main():
    global customer_list
    customer_list = load_customers() # ch09_customers.txt의 내용을 load
    while True:
        print("1:입력","2:전체출력","3:삭제","4:이름찾기","5:내보내기(CSV)", "9:종료", 
              sep=' | ', end=' ')
        fn = int(input('메뉴선택 : '))
        if fn == 1:
            customer = fn1_insert_customer_info() # 입력받은 내용으로 customer객체를 반환
            customer_list.append(customer)
        elif fn == 2:
            fn2_print_customers(customer_list) # 전체 customer_list 출력
        elif fn == 3:
            fn3_delete_customer(customer_list) # goekd, 이름으로 삭제
        elif fn == 4:
            fn4_search_customer(customer_list) # 이름 검색
        elif fn == 5:
            fn5_save_customer_csv(customer_list) # csv 백업
        elif fn == 9:
            fn9_save_customer_txt(customer_list) # txt 백업
            break
if __name__ == '__main__':
    main()