In [3]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:100px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

# 5.1 산술연산자: +, -, *,/(결과 float), //(나머지), **(제곱)
print("10*5ymd=", 10**5)
print("4/2*(결과 실수)=", 4/2)

In [3]:
print("10*5승=", 10**5) 
print("5/2(결과 실수)=", 5/2)

10*5승= 100000
5/2(결과 실수)= 2.5

In [6]:
print("10*5승=", 10**5) 
print("5/2(결과 실수)=", 5/2)
print("5//2(몫)=", 5//2) 
print("5%2(나머지)=", 5%2)

10*5승= 100000
5/2(결과 실수)= 2.5
5//2(몫)= 2
5%2(나머지)= 1

In [5]:
# 정수끼리 연산한 결과가 정수(단 /제외)
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2=", 4**2.0)

4**2= 16.0

In [ ]:
# quiz1.  정수를 입력받아 짝수인지 홀수 여부를 출력
num = int(input("정수를 입력하세요:"))
result = num % 2 # -1, 0, 1
if result:
    temp = "홀수"
else:
    temp = "짝수"
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다")

In [5]:
# quiz2. 정수를 입력받아 5의배수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
if num % 5 == 0:
    temp="5의배수"
else:
    temp="5의 배수가 아님"
print(f"정수{num}은 {temp}입니다")

정수를 입력하세요:8
정수8은 5의 배수가 아님입니다

In [4]:
# quiz2. 정수를 입력받아 5의배수인지 여부를 출력
num = int(input("정수를 입력하세요:"))
if num % 5 == 0:
    print("5dml 배수가 아님")
else:
    print("5의 배수입니다.")

정수를 입력하세요:7
5의 배수입니다.

In [1]:
# quiz3. 국, 영, 수 점수를 입력받아 다음 셀에서 다음과 같이 출력하도록 구현하시오
# 국어: 99, 영어: 100, 수학:100
# 합계 : 299   평균: 99.7
kor=int(input("국어?"))
eng=int(input("영어?"))
mat=int(input("수학?"))
sum=kor+eng+mat
avg=sum/3
print(f"국어, 영어, 수학의 총점은{sum}이고, 평균은{avg:.1f}입니다")

국어?99
영어?100
수학?100
국어, 영어, 수학의 총점은299이고, 평균은99.7입니다

## 5.2 할당 연산자: =, +=, -=, *=, %=

In [ ]:
a=b=10, 우측부터 시작

a = 10
a + = 5 # a= +5와 동일
print(f"a={a}")
print("10배:",a) #100
a//
print()

## 5. 3. 논리연산자: &, and, i, or, not

In [12]:
# & : 논리연산자. 비트 연산자
print( 20>3) &(10>5)) # 논리연산 True & True
print(12 & 1) # 비트 연산  1100(12)
                     #     0001 (1) 
                     # &: 0000

SyntaxError: unmatched ')' (3899188352.py, line 2)

In [11]:
# and: 논리 연산자,False로 판별되는 첫번째 항의 결과 반환
print( (10>3) and (10>5))
print(0 and 1)

True
0

In [13]:
# & : 논리연산자. 비트 연산자
print( 20>3) &(10>5)) # 논리연산 True & True
print(12 & 1) # 비트 연산  1100(12)

SyntaxError: unmatched ')' (2507175755.py, line 2)

In [1]:
# /: 논리연산, 비트연산
result=True |False
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result=False

SyntaxError: invalid syntax (3594385691.py, line 2)

In [ ]:
# or: 논리연산, 참으로 판별되는 첫번째

In [2]:
not 10>5

False

## 5.4 비교연산자: >,>=,<,<=(같다),==,!=(다르다)

In [6]:
# 비교연산자는 이황
x=95
print((90<=X & X<=100))
print(90<= X

NameError: name 'X' is not defined

In [ ]:
# 비교연산자의 우선순위가 비트연산사 (| &)의 우선순위보다 낫다
print((10>5) & (10>&)7))
print((10>7 & (10>&)7))

In [8]:
address  = "목동"
age ; 29
# print(address=="목동")  &(age<=30)
print(address=="목동")  & (age<=30)
print(address=="목동")  and (age<=30)

NameError: name 'age' is not defined

In [ ]:
# 아스키코드 순서로 비교: 특수문자 <숫자문자<대문자<소문자)abc순)
"scott"<

In [ ]:
# 문자는 ascss

In [ ]:
3절 기본자료형: 숫자,문자, 논리
4절 포맷팅: 인덱스, 공백대체문자, 정렬방식, 자릿수(타입)
5절 연산자: 산술연산자, 할당연산자, 논리연산자, 비교연산자, 비트연산자

## 5. 5 비트연산: &, |, ^(XOR), ~(반대)

```
X    Y   X&Y   X|Y    X^y   ~X
---------------------------------
0    0    0     0     0      1
0    1    0     1     1      1
1    0    0     1     1      0
1    1    1     1     0      0

```

In [19]:
a = 15 # 1111(8+4+2+1)
b =  2 # 0010
print("a ={0:2} : {0:4b}".format(a))
print("a ={0:2} : {0:04b}".format(b))
print("a&b ={0:2} : {0:04b}".format(a&b))
print("a|b ={0:2} : {0:04b}".format(a|b))
print("a^b ={0:2} : {0:04b}".format(a^b))
print(~a)

a =15 : 1111
a = 2 : 0010
a&b = 2 : 0010
a|b =15 : 1111
a^b =13 : 1101
-16

# 6절 문자열 다루기
- 문자열 변수[from:to:step] : 일부 문자 추출
- len(문자열 변수); 문자수를 던저 줌(스페이스 또한 묹나 1개다)
- upper: 모든 아이를 대문자로 변환
- lower: 소문자로
- title: 각 어절의 앞 글자만 대문자로
- capitalize: 맨 첫 문자만 대문자로
- count("찾을문자") : "찾을문자"가 몇 개 들어있는지 갯수 반환(##반환은 결과값을 던진다는 이미)>> 기본적으로 대소문자까지 정확히 매칭한 값을 추출.
- find("찾을문자") : "찾을문자"가 왼쪽부터 몇 번째 있는지 index 반환(없으면 -1)
- rfind("찾을문자") : "찾을문자"가 오른쪽부터 몇 번째 있는지 index 반환(없으면 -1)
- cf. rfind("찾을문자") : "찾을문자"가 왼쪽부터 몇 번째 있는지 index 반환(없으면 에러)
- startswith("특정문자") : "특정문자"로 시작하는지 여부 반환
- endtswith("특정문자") : "특정문자"로 끝나는지 여부 반환

- strip() : 문자열의 좌우공백제거(trim)
-ㅣtrip() : 문자열의 왼쪽공백제거
- rtrip() : 문자열의 오른쪽공백제거
- split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환
- isdigit() : 문자열이 숫자문자열인지 여부 반환
- islower() : 문자열이 소문자열인지 여부 반환
- isupper() : 문자열이 대문자열인지 여부 반환
- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [17]:
int("1,000".replace(",", ""))

1000

In [39]:
temp = "python is easy. python is smart. python"

print("대문자로 :", temp.upper())
print("소문자로 :", temp.lower())
print("title() :", temp.title())
print("capitalize() :", temp.capitalize())
print("C가 몇 번 나오는지 :", temp.count("C"))
print("python이 몇 번 나오는지 :", temp.count("python"))
print("대소문자 구분없이 python이 나오는지 :", temp.lower().count("python"))
print("대소문자 구분없이 python이 나오는지 :", temp.upper().count("PYTHON"))
print("대소문자 구분없이 python이 나오는지 :", temp.title().count("Python"))
print("python이 나오는 첫 index 위치 :", temp.find("python"))
print("python이 나오는 마지막 index 위치 :", temp.rfind("python"))
print("C가 나오는 index 위치 :", temp.find("C"))
print("python이 나오는 첫 index 위치 :", temp.index("python"))
print("java가 나오는 첫 index 위치 :", temp.find("java"))
# print("java가 나오는 첫 index 위치 :", temp.index("java"))
print("python으로 시작하는 여부 :", temp.startswith("python"))
print("대소문자 구분없이 pythond으로 시작하는지 여부 :", temp.lower().startswitht("python"))
print("python으로 끝나는지 여부 :", temp.endswith("python"))
print("n으로 끝나는지 여부 :", temp.("python"))

SyntaxError: invalid syntax (2583856860.py, line 21)

In [65]:
temp = " python is easy  "
notdigit = "1,000"
print("좌우 공백 제거 : [{}]". format(temp.strip()))
print("왼쪽 공백 제거 : [{}]". format(temp.lstrip()))
print("오른쪽 공백 제거 : [{}]". format(temp.rstrip()))
print("isdigit(숫자문자)인지 여부 : [{}]",notdigit.isdigit())
print("replace 후 isdigit : [{}]", notdigit.replace(",", "").isdigit())
print("대문자인지 여부 :", temp.isupper())
print("소문자인지 여부 :", temp.islower())

좌우 공백 제거 : [python is easy]
왼쪽 공백 제거 : [python is easy  ]
오른쪽 공백 제거 : [ python is easy]
isdigit(숫자문자)인지 여부 : [{}] False
replace 후 isdigit : [{}] True
대문자인지 여부 : False
소문자인지 여부 : True

In [52]:
names = "홍길동 김김동 박길동 주길동 고길동"
name_list = names.split()
print("space단위로 names 분리(list로 반환) : names.split()")
print(name_list[0], name_list[1])

space단위로 names 분리(list로 반환) : names.split()
홍길동 김김동

In [56]:
date_str ="2025-09-17"
date_list = date_str.split("-")
print(date_list)
print("년도 :", date_list[0])
print("월 :", date_list[1])
print("일 :", date_list[0])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 2025

In [60]:
# str_ = "ABC". 어것은 아래 식과 동일하다
str_ = ["A", "B", "C"]
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [69]:
# ' _'을 "/"로 바꾸기
temp = "Pthon - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML(M/DNN/CNN/RUN) - LLM(RAG)"
temp.replace("-","/")
# split()와 join() 이용하여 replace 역할
splited_temp = temp.split("-")
print("분리된 temp :",splited_temp)
joined_temp = "/",temp.joined("-") # "/"fh 매개변수 listfmf 연결
print("join temp :",joined_temp)

분리된 temp : ['Pthon ', ' 웹(HTML/CSS/JS) ', ' Oracle/MySQL(DBMS) ', ' DL/ML(M/DNN/CNN/RUN) ', ' LLM(RAG)']

AttributeError: 'str' object has no attribute 'joined'

In [72]:
# 문자열을 다를 수 있는 함수들 목로
temp = "a"
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절, 시간, 날짜 다루기

In [1]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [2]:
# datetime 모듈(datetime.py)안의 datetime, date, time만 Load
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [6]:
# 특정 시점을 갖는 datetime 객채 생성
thatday  = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [9]:
# 날짜를 문자열로 전환
print("{:"%y년%월m%d일(%A) "%H;%A%S}". format(thatday)"

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (2625673455.py, line 2)

In [10]:
# 지금을 저장하는 datetime 객체 생성
now =  datetime,now()
print(now)
print(now,ctime())
print(now,strftime())"%y년%월m%d일(%A) "%H;%A%S"

SyntaxError: unterminated string literal (detected at line 5) (2897922252.py, line 5)

In [13]:
diff = now-thatday
print(diff)
print(diff.days)

NameError: name 'now' is not defined

## 7.2 날짜

In [11]:
# 특정 날짜를 갖는 date 객체 생성
someday = date(2025, 9, 11,)

In [16]:
# 오늘을 갖는 date
today1 = date.today()
today2 = datetime,now().date()
print(t)(today1 == today2)

NameError: name 'now' is not defined

In [ ]:
print(today1.strftime)

In [19]:
diff = someday - today1
print(diff)
print(diff.days)

NameError: name 'someday' is not defined

## 7.3 시간

In [20]:
# 특정 시간 저장하는 time 객체 생성
t = time(14, 39, 0)
t

datetime.time(14, 39)

In [22]:
print(t,strftime("%p %I:%M"))
print

NameError: name 'strftime' is not defined

In [24]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

14:44:38.771449

#  8절. 연습문제

In [2]:
#. 1. 이름과 나이 변수를 출력하도록 format() 함수를 이용하여 형식화 하세요,
# 출력 형식:  홍길동님의  나이는 23살입니다.  
name ="홍길동"
age = 23
print("{}의 나이는 {}살입니다.".format(name, age))

홍길동의 나이는 23살입니다.

In [3]:
#  2. 두 정수를 입력받아 두 수의 가감승제, 몫, 나머지를 출력하세요.
a = int(input("첫번째 정수를 입력하세요: 10 "))
b = int(input("두번째 정수를 입력하세요: 3 "))
print("합:", a+b)
print("차:", a-b)
print("곱:", a*b)
if b != 0:
    print("몫:", a//b)
    print("나머지;",a%b)
else:
    print("두번째 수가 0이므로 나눗셈을 수행할 수 없습니다.")

첫번째 정수를 입력하세요: 10 5
두번째 정수를 입력하세요: 3 5
합: 10
차: 0
곱: 25
몫: 1
나머지; 0

In [25]:
# 3.
message ="Hwllo World"
message.split()

['Hwllo', 'World']

In [9]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여'Hello World'가 할당된 변수를 이용하여 'World Hello'를 출력하세요
text = "Hello World"
words = text.split()
result = " ".join([words[1], words[0]])
print(result)

World Hello

In [10]:
# 4. x= 'abcdef'를 이용하여 'bcdefa'로 출력하세요(문자열 슬라이싱을 이용)
x = 'abcdef'
print(x[1:] + x[0])
print(x[1:] , x[0], sep='')

bcdefa
bcdefa

In [ ]:
# 5. x= 'abcdef'를 이용하여 'FEDCBA'로 출력하세요
x = 'abcdef'
result = x.upper()[::-1]
print(result)

In [11]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요. 화씨 온도는 소수점이 있을 경우만  두번째 자리까지 출력되고, 소수점이하 값이 없는 경우 소수점을 출력하지 않도록 합니다.(다음은 섭씨와 화씨의 변환 공식입니다. C는 섭씨, F는 화씨)
C = (F-32) / 1.8
F = (C*1.8) + 32
# print("입력하신 섭씨 {}도는 화씨온도 {:,0f}도입니다".format(c,f))
# if f%1==0
# if f.is_integer():
if f == round(f):
    print("입력하신 섭씨 {}도는 화씨온도 {:,0f}도입니다".format(c,f)")

NameError: name 'F' is not defined

In [ ]:
# 7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오? 1, 2, 3,
for
10th
Student.name
_1234

In [ ]:
# 8. 다음의 코드의 실행결과는?

In [ ]:
# 9. 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은? 1
1. 수식 8//2 결과 4
2. 수식 8/2  결과 4
3. 수식 8 **2 결과 64

In [ ]:
# 10. 아래 프로그램의 결과는?
x = 5
y = "John"
print(x + y)
x는 정수형(int), y는 문자열(str)인데 + 연산자는 서로 다르 자료형을 직접 더할 수 없기 때문니다.

해결 방법은 숫자를 문자열로 변환 후 연결하기
x = 5
y = "John"
print(str(x) + y)

문자열과 숫자를 함께 출력하기(쉼표 사용)
x = 5
y = "John"
print(x , y)

In [15]:
# 11. split()함수를 이용하여 str_의 값 중 ＂나라＂를 출력하는 프로그램을 완성하시오
# str_ = "우리 나라 대한 민국"
str_ = "우리 나라 대한 민국"
str_.split()[1]

'나라'

In [16]:
str_ = "우리 나라 대한 민국"
print([w for w in str_.split(",") if w == "나라"][0])

IndexError: list index out of range

##