In [36]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:100px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))n

SyntaxError: invalid syntax (1203975281.py, line 16)

<b><font size="7" color="red">ch02. 자료형과 연산자</font></b>
# 1절. 변수
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1 변수 할당
- 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 셋팅
- **파이썬에서의 모든 변수는 객체로 저장**

In [2]:
r = 5
area = 3.14 * r * r
print('넓이 :', area)

넓이 : 78.5

In [3]:
import numpy as np # numpy패키지를 np라는 이름으로 사용
area = np.pi * r * r
print('넓이 :', area)

넓이 : 78.53981633974483

##1.2 변수(함수) 이름 규칙
문자로 시작
문자(특수문자는 - 외에는 불가), 숫자, -로 변수명 작성
함수명은 변수명으로 사용이 가능하나 피한다. 꼭 써야 한다면 str_식으로 사용한다.
파이썬 예약어(for, if,...)는 변수명 사용 불가
한글 변수 사용이 가능함. 꼭 필요한 경우에만 사용한다.
변수 이름에 . 사용하지 않는다.

In [4]:
이름 = "홍길동" # 비추(추천하지 않음)
print(홍길동)

In [5]:
member_name = "홍길동"
memberName = "홍길동"

In [7]:
# 숫자, 정수 실수, 복소수
1 = 1 + 3j # 복소수
print(tytpe(i))

SyntaxError: invalid decimal literal (2418736346.py, line 2)

In [ ]:
1.3 다중 변수 선언

In [12]:
a = 10
b = 20

In [13]:
a, b =10, 20
print(a, b)

10 20

In [14]:
a, b = b, a+b
print(a, b)

20 30

In [ ]:
##1. 도움말

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
print() # help 빠져나오기

In [18]:
# 도움말 기능 : shift + tab 키
print(shift + tab)

In [ ]:
print()

In [20]:
def add(x, y):
    '''
    매개변수(x, y) 2개를 받아 두 자리 숫자로 만드는 함수
    x = 10자리수가 되고
    y = 1의 자리수가 됨(default  값 0)
    '''
    
    return x*10 + y

add(3, 4)

34

In [ ]:
# 2절, 화면 i/o

In [ ]:
# input() : 사용자로부터 값을 입력받기 위한 함수, 입력값은 문자(str)로 받음.
first = input()
print(first)

In [22]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

첫번째 숫자는?7
두번째 숫자는?8

In [23]:
print(first, second)

7 8

In [24]:
print('두수의 합은', first+second)

두수의 합은 78

In [26]:
first = int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))

첫번째 숫자는?3
두번째 숫자는?4

In [27]:
print('두수의 합은?', first+second)

두수의 합은? 7

In [28]:
print(first,first,second,second, first, sep='~')

3~3~4~4~3

In [34]:
print(first,first,second,second, first, end='\n')
print('Hello', 'Python', sep='~')

3 3 4 4 3
Hello~Python

In [ ]:
# 3절, 기본 자료형
자료형: 변수가  가져야 할 값의 형식, 자료형에 따라 값의 크기와 저장 방식이 달라짐.
자료형에 따라 수행할 수 있는 명령어들이 달라짐.
  - 숫자 : int, float(소수점 4.0), complex(허수부 j)
  - 문자 : str("", ")   
  - 논리: bool(Truse/False)

In [ ]:
## 3,1 숫자형

In [ ]:
import sys

In [2]:
print(sys.maxsize) # 정수의 최대값 : 2**63 - 2

NameError: name 'sys' is not defined

In [7]:
i = sys.maxsize + 10000000000000000000000
print(i)
print(type(i))

NameError: name 'sys' is not defined

In [21]:
# f =0.0000000000000000012
f = 1.2e - 20 # 지수형 12**10의 -20승
print(f)

SyntaxError: invalid decimal literal (2220402770.py, line 2)

In [9]:
# 파이썬에서는 i의 결과는 모조건 실수
f = 4/2
print('f=',f)

f= 2.0

In [12]:
# 자비나 C,  C++처럼 정수 결과를 점수로
f = int(3/2)
print('f=', f)
f = 3/2
print('f=', f)

f= 1
f= 1.5

##3.2 문자형
겹따옴표("-")나 홀떠옴표('-') 이용

In [14]:
name = '홍길동'
name = "홍길동'짱'"
address = '서울시 관악구 "신림"'
print(name, address)

홍길동'짱' 서울시 관악구 "신림"

In [18]:
# 역 슬래시를 사용하는 escape 문자(탈출문자) : \n, \t, \r
# r = 앞으로 가라는 명령, 잘 쓰지 않음.
text = '여러줄  \t자리 내용을 저장 \n 줄바꿈 문자를 쓰면 됨 \n 줄바꿈'
print(text)

여러줄  	자리 내용을 저장
 줄바꿈 문자를 쓰면 됨
 줄바꿈

### ※ 문자열 연산(+, *)

In [23]:
"""
여러 줄 주석 필요
2025. 09. 12 문자열 연산 by 아무개
"""
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)
print(name1 , name2)

홍길동동해번쩍
홍길동 동해번쩍

In [24]:
print(name1*3)

홍길동홍길동홍길동

### ※ raw 데이터
용도 : 정규 표현식 이용, 디렉토리 경로를 표현시 사용

In [25]:
# raw 데이터 : 데이터 처리시 이스케이프 문자(\n, \t, \*, \"")를 그대로 저장
print('hello\nWorld')

hello
World

정규표현식(regex)
참조 : https: //goo.gl/HLntbd 위키백과

정규표현식(regex) 
참조 : https: //goo.gl/HLntbd 위키백과
간략 문법
\d : (숫자와 매치, [0-9]와 동일)
\D : (숫자가 아닌 것)
\w : (영문자나 숫자 [a=z A-Z 0-9]와 동일]
\W : (영문자나 숫자가 아닌 경우)
.  ; (문자)
\. : (.)
\- : (-)

## 정규표현(regex)

정규표현식(regex) 참조 : https: //goo.gl/HLntbd 위키백과
        간략 문법 
        \d : (숫자와 매치, [0-9]와 동일)
        \D : (숫자가 아닌 것)
        \w : (영문자나 숫자 [a-zA-Z0-9]와 동일] 
        \W : (영문자나 숫자가 아닌 경우) 
         . ; (문자) 
        \. : (.) 
        \- : (-)
       {2,} :(2번 이상 반복)
       {2, 4} : (2~4회 반복)
       ?    : (0번이나 1번 의미)
       +    : (1번 이상 반복)
       *    :  (0번 이상 반복)
              
3. 정규표현식 연습장: https: //regexr.com/
              ex1, 전화번호 : 02 888 8888 /028888888 /010-99999-9999/010.9999.9999/02)999-9999
              ===>0\d{1,2}[\-\,)?\d(3,4)\d(4)
              ex2. 이메일 : abc12@naver.com/huhnam58@daum.net/.
              ===> \w+@\w+(\.\w+){1,2}
              ex3. 주민등록번호: 581231-2638124/570123-1634415
              === >\d{2}0[1-9]1[0-2](0[1-9]|[12]\d |30.31)-[1-4]\d{6}

In [ ]:
\w+@\w+(\.\w+){1,2}

In [32]:
import re
data = "이름 : 홍길동, 주소: 서울,  전환 : 02-888-8888, 핸드폰 : 010-9999-9999,  특징 : 동해 번쩍 서해번쩍\"
혈액형 :  B
print(data)

SyntaxError: unterminated string literal (detected at line 2) (3924929544.py, line 2)

In [35]:
#  정규표현식 처리에서는 raw데이터 철를 하지 않아도 실행은 되나
# 실수를 줄이고 가독성을 높이는 용도로 raw 데이터 처리를 사용
tel_pattern = r"0\d{1,2}[\-\.]?{3,3}[\-\.]?d(4)"
tels = re.findall(tel_pattern, data)
tels

NameError: name 're' is not defined

In [ ]:
email_pattern = r"

In [36]:
# 정규표현식 패턴과 처음 match 되는 것을 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

NameError: name 're' is not defined

In [37]:
print(data[18:29] # 문자열 슬라이싱, 위치도 알 수 있음.
print(firstTel.group(e))

SyntaxError: incomplete input (3550404728.py, line 1)

In [38]:
tel_pattern = r"\d{2,3]-\d{3,4}}-(\d{4})"

firstPhone =re search(tel_pattern, data)
firstPhone

SyntaxError: invalid syntax (2067959868.py, line 3)

In [39]:
print('전체 전화번호 :', firstPhon.group(0))
print('국번 :', firstPhon.group(1))
print('중간번호 :', firstPhon.group(2))
print('끝번호 :', firstPhon.group(3))

NameError: name 'firstPhon' is not defined

In [ ]:
# data에서 특정한 데이터 없애기
re.sub("(가-할e-9A-Z\S"], ''

## 1장 주피터 노트북 사용법
shift+Enter
esc+b, a, m

## 제2장
1절 변수
2절 화면 i/o
3절 기본자료형
 숫자: int, float, compex, int/int==> 실수/지수형 표현은 실수
 문자: +, +연산 정규표현식, re,findall(), re.search()

파이썬 화일을 모듈

In [ ]:
search 함수?

In [ ]:
퀴즈 낸다. 책 연습 문제

In [ ]:
전체 데이터에서 ㅇㅇㅇ을 빼라. 특정 데이터만 뺀다.

In [ ]:
sub, 아닌 것,  전화번호르어

In [ ]:
실행해야 데이터가 올라온다.

In [ ]:
전화번호만 뺀 데이터 가져온다.

In [ ]:
tel_pattern = r

In [ ]:
re. sub

In [ ]:
file_path =r"c:\ai\source\01_python[date\ch02.txt]"

In [ ]:
file_path ="c:\ai\source\01_python[date\ch02.txt]"

In [ ]:
출력: 콘솔, 파일, 네트워크

In [ ]:
빨때

In [ ]:
file_path =r"c:\ai\source\01_python[date\ch02.txt]"

In [ ]:
file_stream = open(file_path,"r"

In [1]:
file_stream = open(file_path,"w"
print("helli, python,"hello, world", sep="\n")
print("helli, python,"hello, world", sep="\n", file_stream) # 파일 출력
file_stream.close() .

SyntaxError: invalid syntax. Perhaps you forgot a comma? (207161222.py, line 1)

In [2]:
print("helli, python,"hello, world", sep="\n")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1844038858.py, line 1)

### ※  문자열 인덱싱

In [ ]:
str_ = '0123456789', 인덱스란 찾아가기 쉽도록 만든 숫자

In [3]:
str_

NameError: name 'str_' is not defined

In [ ]:
양수는 앞에서, 음수는 뒤에서

In [ ]:
'012345678'

In [4]:
str_[0],str_[2], str_[-1]. str_[-3]

NameError: name 'str_' is not defined

In [ ]:
str_[0],str_[2], str_[-1]. str_[-3]

In [ ]:
'0123456789'

In [5]:
str_[0],str_[2], str_[-1]. str_[-3]

NameError: name 'str_' is not defined

## 문자열 변수[from=to]

In [ ]:
문자열 변수(from=to]: from부터 to앞까지 추출
문자열 변수)(from=to:step]: step씨 전진하면서 추출
 from 생략시 처음부터
        from 생략시 처음부터
        to 끝까지

In [ ]:
str_[-5:]

In [ ]:
str_[9:0:-1]

In [ ]:
90

a=10

In [ ]:
(1,0)

In [ ]:
[34]

In [ ]:
(True, False, True)

In [ ]:
제어문

In [6]:
if []"
print("True")

SyntaxError: unterminated string literal (detected at line 1) (1610997286.py, line 1)

name = input("이름은?")

if name: # name이 빈스트림이 아니면
    print('당신 이름은', name)

else:
    print('이름을 입력 안 하셨군요')

##3.4 자료형 확인 및 형변환 함수
type(변수)
isinstance(변수, 타입): 변수가 해당 타입인지 여부
float( ): 실수형으로 변환
int( ): 점수형으로 변환
str( ): 문자형으로 변환
boo( ): 논리형으로 변환

In [11]:
# 에러가 나는 경우들
#int(""), int(" "), int(None), int("123.9")
int("9,000"). 점을 빼라
float("")

SyntaxError: invalid syntax (2219090868.py, line 3)

# 4 절, 포맷팅
포맷팅이란 출력할 문자, 숫자, 날짜, 데이터의 형식을 지정하는 것
## 4.1 문자열에 형식 지정

In [13]:
name ="홍길동"
age = 30
print(name, '님의 나이는' + str(age) = '살입니다'
print(name, '님의 나이는', age, '살입니다', sep ='')

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (541769531.py, line 3)

In [22]:
name ="홍길동"
age = 30

In [23]:
# print("{}님의 나이는 {}살입니다".format(name, age) )
# print("{0}님의 나이는 {1}살입니다".format(name, age) )
print("{1:>S5}님의 나이는 {0:_<3d}살입니다".format(age,name))

ValueError: Invalid format specifier

In [25]:
print(f"허남식{name},나이는{age}")

허남식홍길동,나이는30

## 4.2 format() 문법
"{[인덱스]: [공백 대체 문자][정렬방식][자릿수][타잇]", format(변수명)

* 인덱스: format 함수의 매개변수 순서
* 정별방식: <(왼쪽 정렬), >(오른쪽 정렬), ^(가운뎃 정렬)
* 점수 자릿수: 출력할 자릿수
* 문자 자릿수: 전체 출력될 자리수, 변수중에 출력할 자리수
* 타입: d(10진수), ㅇ(8진수), x(16진수) b(2진수), f(실수), s(문자)
* 공백 대체 문자는 정렬방식을 명시하여야 함.

In [30]:
a='12345'
s='Hello'

In [34]:
# print("[{}] [{0:10}] [{0:10}] [{0:3}]".format(a,a,a))
print("[{}] [{0:10}] [{0:3}]".format(a,a,a))

ValueError: cannot switch from automatic field numbering to manual field specification

In [35]:
# 정렬 방식 : <, ^, >
a, b, c =10, 20, 3
print("[{:<4}] [{:^4}] [{:4}]".format(a, b, c))

[10  ] [ 20 ] [   3]

In [6]:
# 실수 자릿수 ex, 10.2
a = 10
f = 12,569
s = "Hello"

In [7]:
print("[{:$>10}] [{:10.2f}]".format(a,f))

TypeError: unsupported format string passed to tuple.__format__

In [3]:
print("[{:$>10}]".format(a))

[$$$$$$$$10]

In [44]:
print("[{:$>6.2f}] [{:6.2f}] [{:_>6.2}]".format(a,f,s))

TypeError: unsupported format string passed to tuple.__format__

In [8]:
print("[{:$^10}] [{:10.2f}] [{:_>6.2}]".format(a,f,s))

TypeError: unsupported format string passed to tuple.__format__

In [9]:
a,b =123, -123
print("[{:+10}] [{:-10}]".format(a,b))

[      +123] [      -123]

In [10]:
# 10진수, 8진수 2진수 출력
a=15
print("10진수 [{:4d}]".format(a))
print("8진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))
print("2진수 [{:4b}]".format(a))

10진수 [  15]
8진수 [  17]
16진수 [   f]
2진수 [1111]

In [14]:
a=2.785
print("[{:+10.4}]").format(a))

SyntaxError: unmatched ')' (2044006025.py, line 2)

In [ ]:
변수는 숫자, 문자만 쓴다, 숫자, 정수, 실수

In [ ]:
출력 폼의 형태

In [19]:
a=2.785
sign="+"
width=10
precision=4
print("[:{}{},{}}]".format(a, sign, width, precision))

ValueError: Single '}' encountered in format string

# 4,3날짜 출력

In [21]:
1. import datetime # datetime 모듈
datetime.._file_

SyntaxError: invalid syntax (54959256.py, line 1)

In [30]:
# Yimport datetime # datetime 모듈
from datetime import datetime # datetime 모듈안의 datetime  메모리 LOADW
thatdatetime1=(2025, 9, 11) # 25년 9월 11일 0시 0분 0초
thatdatetime2=(2025, 9, 11, 14, 30, 0)

In [32]:
thatday1.strftime(""%y년 %m월 %d일 %H시 %M분 %5초")

SyntaxError: invalid decimal literal (1554902144.py, line 1)

In [37]:
# 현재의 날짜와 시간
# datetime(2025. 9. 11. 14. 30): 특정한 날짜와 시간
now=datetime,now()

NameError: name 'now' is not defined

In [48]:
# 지금 (날짜와 시긴) 원하는 스타일로 출력
print("{%Y-%m-%d %p %I:%M}". format(now))
print(now.strftime("%Y-%m-%d %p %I:%M")

SyntaxError: incomplete input (1910315799.py, line 3)

In [43]:
# 지금을 문자열로 전화하는 함수
from time import strftime
strftime("{%Y-%m-%d %p %I:%M")

'{2025-09-15 PM 03:06'

In [50]:
# 지금 (날짜와 시긴) 원하는 스타일로 출력
print("{:%Y-%m-%d %p %I:%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I:%M"))

NameError: name 'now' is not defined

## 5.1 산술 연산자: +, -,