In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:99% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.text_cell_render.rendered_html{font-size:18pt;}
div.text_cell_render ul li{font-size:22pt; line-height:30px;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:22pt;padding:5px;}
table.dataframe{font-size:22px;}
</style>
"""))

# 1. 데이터 셋

In [4]:
import pandas as pd
df=pd.read_csv('../01-python/data/ch13_df(결측치중위값으로대체).csv')
df.head()

  지역명   평당분양가격    연도   월
0  서울  18189.0  2013  12
1  부산   8111.0  2013  12
2  대구   8080.0  2013  12
3  인천  10204.0  2013  12
4  광주   6098.0  2013  12

In [ ]:
- 지역명2 : 지역명필드를 라벨인코딩하여 추가
- 독립변수 : 지역명2, 연도, 월
- 타겟변수 : 평당분양가격
- 독립변수와 타겟변수의 스케일 조정
    * 정규화 작업 후: 지역명2m, 연도m 월m
    * 표준화 작업 후: 지역명2s, 연도s, 월s
   => 지역명, 연도, 월, 지역명2, 지역명m, 연도m, 월m, 지역명2s, 연도s, 월s

# 2. 지역명 라벨링 코딩
- 지역명2

In [ ]:
x=df[['지역명2', '연도', '월']].values

# 3. MinMaxScale조정

In [3]:
X = df[['지역명2', '연도','월']].values # numpy배열로 추출한 독립변수
y = df[['평당분양가격']].values
X.shape, y.shape

NameError: name 'df' is not defined

# 4. 표준화 스케일 조정

In [ ]:
x=
y=
x.shape, y.shape